@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>_Layout</title>

        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600" rel="stylesheet">
        <!-- Fontawesome -->
        <link rel="stylesheet" href="~/fonts/font-awesome-4.2.0/css/font-awesome.min.css">
        <!-- Style -->
        <link rel="stylesheet" href="~/fonts/font-awesome-4.2.0/css/style.css">
    </head>

    <body>
        <div class="form-wrapper" style="background-image:url('~/image/login-bg-960x960.jpg')">
            <div class="user-auth-form">
                <form>
                    <div class="logo">
                        <a href="">
                            <img src="~/image/logo.png" alt="">
                        </a>
                    </div> <!-- logo -->
                    <div class="input-group icon-on-input">
                        <label for="Login"><i class="fa fa-user"></i></label>
                        <input type="text" name="Login" id="Login" class="form-control" placeholder="Username">
                    </div>
                    <div class="input-group icon-on-input">
                        <label for="Email"><i class="fa fa-envelope"></i></label>
                        <input type="email" name="Email" id="Email" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="input-group icon-on-input">
                        <label for="Password"><i class="fa fa-lock"></i></label>
                        <input type="password" name="Password" id="Password" class="form-control" placeholder="Password">
                    </div>
                    <div class="input-group icon-on-input">
                        <label for="Telephone"><i class="fa fa-phone"></i></label>
                        <input type="tel" name="Telephone" id="Telephone" class="form-control" placeholder="Telephone">
                    </div>
                    <button type="submit" class="btn btn-default full-width">SIGN UP</button>
                    <div class="account-login">
                        <span>You have an account?<a href="Login" class="lnk-login">Login</a></span>
                    </div>
                </form>
            </div> <!-- user-auth-form -->
        </div> <!-- form-wrapper -->
    </body>
</html>
